environment:
  SONAR_SCANNER_VERSION: 4.2.0.1873
  SONAR_SCANNER_OPTS: -server
  matrix:
    - job_name: weewx4-py3
      job_group: build
      WEEWX: 4.0.0b18
      PYTHON: 3.6
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
      WEEWX_URL: http://www.weewx.com/downloads/development_versions/
      CODECOVIO_UPLOAD: true
      COVERALLS_UPLOAD: true
      SONAR_UPLOAD: true

    - job_name: weewx4-py2
      job_group: build  
      WEEWX: 4.0.0b18
      PYTHON: 2.7
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
      WEEWX_URL: http://www.weewx.com/downloads/development_versions/
      CODECOVIO_UPLOAD: true

    - job_name: weewx3-py2
      job_group: build
      WEEWX: 3.9.2
      PYTHON: 2.7
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804
      WEEWX_URL: http://www.weewx.com/downloads/released_versions/

    - job_name: done
      job_depends_on: build

    - job_name: finalize
      job_depends_on: build

for:
- 
  matrix:
    only:
    - job_name: finalize

  build_script:
    - sh: echo "finalize"
      
stack: python %PYTHON%

init:
  # This runs before the commit is even checked out

install:
  # 'source' so that variables are set in parent environment
  - sh: echo "install"
  #- sh: source appveyor/init.sh 
  #- sh: appveyor/install.sh

build_script:
  - sh: echo "build_script"
  #- sh: appveyor/build_script.sh  

test_script:
  - sh: echo "test_script"
  #- sh: appveyor/test_script.sh

after_test:
  - sh: echo "after_test"
  #- sh: appveyor/after_test.sh

on_finish:
  - sh: echo "on_finish"
  #- sh: appveyor/on_finish.sh
   